<h1>about</h1>
<div class="botones">
  <div class="boton1">
    <button onClick="alert('¡Has hecho clic!')" class="btn">
      Hover Me!
    </button>
  </div>
  <div class="boton2">
    <button onClick="alert('¡Has hecho clic!')" class="btn">
      Hover Me!
    </button>
  </div>
</div>
<!--Trageta mia-->
<div class="targetas">
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Hover me!</h2>
    </div>
  </div>
  <div class="card">
    <div class="picture">
      <p>IMAGE</p>
    </div>
    <div class="name">
      <p>John Doe</p>
    </div>
    <div class="jobtitle">
      <p>DEVELOPER</p>
    </div>
    <div class="buttons">
      <div class="button1">
        <button>Button 1</button>
      </div>
      <div class="button2">
        <button>Button 2</button>
      </div>
    </div>
  </div>

</div>