<h1>about</h1>
<div class="botones">
  <div class="boton1">
    <button onClick="alert('¡Has hecho clic!')" class="btn">
      Hover Me!
    </button>
  </div>
  <div class="boton2">
    <button onClick="alert('¡Has hecho clic!')" class="btn">
      Hover Me!
    </button>
  </div>
</div>
<div>
  <img src="https://picsum.photos/500/500" class="card-img-top" alt="..." />
</div>