<!--Aqui estoy mostrando los proyectos 

el formulario y la tabla-->
<div class="container">
   <div class="d-flex align-items-center">
     <div class="container">
     <span class="container" style="color: navy;">  <h1>Proyectos</h1></span>
     </div>
     <div class="container " >
     <a href="/agregar" class="btn btn-primary">    
        Agregar Proyecto
     <i class="bi bi-folder-plus"></i>
     </a>
     </div>
   </div>
   <br/>
   <br/>
  
  <div  class="container"> {{> proyectos/table}} </div>


</div>