<div class="container">
  <form
    action="/profile/{{projects._id}}"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="file" name="image" />
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>