<h1>Agregar Tareas</h1>

<form action="add-task" method="post">
  <div>
    <label form="title">Escribe un titulo</label>
    <input type="text" name="title" placeholder="title" id="title" />
  </div>

  <div>
    <label for="description">Descripcion</label>
    <textarea name="description" placeholder="Description" id="description">
    </textarea>
  </div>
  <button>Save</button>
</form>