<h1>Agregar Tareas</h1>

<form action="/task/add" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre del Proyecto</label>
    <input name="name" class="form-control" id="name" aria-describedby="name" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Describe el Proyecto</label>
    <textarea
      name="description"
      class="form-control"
      id="description"
      aria-describedby="description"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="year" class="form-label">Año del Proyecto</label>
    <input name="year" class="form-control" id="year" aria-describedby="year" />
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Categoria del Proyecto</label>
    <input
      name="category"
      class="form-control"
      id="category"
      aria-describedby="category"
    />
  </div>

  <div class="mb-3">
    <label for="lang" class="form-label">Lenguajes del Proyecto</label>
    <input name="lang" class="form-control" id="lang" aria-describedby="lang" />
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Imagen del Proyecto</label>
    <input
      name="image"
      class="form-control"
      id="image"
      aria-describedby="image"
    />
  </div>

  <button class="btn">Save</button>
</form>