body {
  background: rgb(255, 255, 247);
}
.yo {
  font-size: 30px;

  color: #d6ddf8;
}
.nav1 {
  font-size: 20px;
  margin-left: auto;
}
.navbar2 {
  border-radius: 10px;
}
.contenedor {
  background: rgb(251, 186, 100);
  height: 50px;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.item {
  font-size: 20px;
  border-radius: 8px;
  color: rgb(53, 50, 50);
}
/*styles button*/
.botones {
  height: 200px;
  width: 500px;
  padding: 20px;
  border-radius: 4px;
  margin: auto;
  background: rgb(219, 255, 195);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.boton1 {
  padding: 20px;
}
.boton2 {
  padding: 20px;
}
/*Boton de */
/* From cssbuttons.io by @adamgiebl */
button {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/*termina boton*/

/*Emoieza boton 2*/
/* From cssbuttons.io by @Mike11jr */
.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}
/*trmina boton 2*/

/*Formulario*/
.form0 {
  width: 100%;
  height: 600px;
  margin: auto;
  border-radius: 12px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.formproyect {
  background: #a1d4cf;
  height: 600px;
  width: 290px;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*termina el formulario*/

.targetas {
  background: #ffff;
  width: 800px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}

/*Targeta mia About me*/
/* From cssbuttons.io by @Codewithvinay */
.box {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
}

.box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.box:hover:before,
.box:hover:after {
  transform: skewX(0deg) scaleX(1.3);
}

.box:before,
.box:after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.box span::before {
  top: -40px;
  left: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.box span:after {
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box .content {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .content h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}
/*Termina targeta*/
/*targeta dos*/
/* From cssbuttons.io by @addy123d */
.card {
  width: 190px;
  height: 254px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 5px 60px 0px #4646466b;
}

.card .picture,
.card .name,
.card .jobtitle,
.card .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .picture {
  border: 2px solid #4646466b;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.card .picture p {
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.buttons > div {
  padding: 0.5em;
}

button {
  color: #14013a;
  padding: 0.5em;
  outline: none;
  background: transparent;
  border: 1px solid #0f0f0f6b;
  border-radius: 0.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s;
  font-size: 0.7em;
}

.card .picture:hover,
button:hover {
  background: #252525;
  color: #f1f5f3;
}

.card .name p {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 1em;
}

.card .jobtitle p {
  margin-bottom: 10%;
  font-size: 0.54em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

/*termina targeta 2*/

/*Crud de edit*/
.crud {
  height: 500px;
  background: #d1d0d0;
  border-radius: 13px;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}
